@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
:root {
  --red: #e04e4e;
  --dark-red: #a83232;
  --gray: #666;
  --gradient: linear-gradient(90deg, var(--dark-red), var(--red));
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

*::section {
  background: var(--dark-red);
  color: #fff;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  background: white;
}

/* 1 rem = 16px */
section {
  min-height: 50vh;
  padding: 0 9%;
  padding-top: 7.5rem;
  padding-bottom: 2rem;
}

.heading {
    text-align: center;
    background: var(--gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--red);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 1rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
  }

  header img {
    width: 200px;
    object-fit: cover;
  }

  header .navbar a {
    font-size: 1.5rem;
    margin-left: 5rem;
    font-weight: bold;
    color: #fff;
  }

  header .navbar a:hover {
    color: rgb(231, 231, 231);
  }

  header input {
    display: none;
  }

  header label {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
  }
  
  /* Sidebar */
  .sidebar {
    z-index: 1000;
    position: fixed;
    top: 30%;
    transform: translateY(-30%);
    background-color: #ff0000;
    box-shadow: 0px 0 15px rgba(0, 0, 0, 0.8);
  }

  .side-item {
    position: relative;
  }

  .side-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .side-link {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
  }

  .side-link i {
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ff0000;
    transition: all 0.3s;
  }

  .side-link .text-side {
    position: absolute;
    background-color: #ff0000;
    height: 100%;
    padding-right: 50px;
    padding-left: 20px;
    line-height: 55px;
    transform: translateX(-100%);
    transition: all 0.3s;
    z-index: -1;
  }

  .side-item:hover i {
    transform: scale(1.1);
    box-shadow: 0px 0 20px rgba(0, 0, 0, 0.8);
  }

  .side-item:hover .text-side {
    transform: translateX(0);
  }

  /* index.html */
  /* Home */
  .home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home .image img {
    width: 45vw;
    animation: float 3s linear infinite;
  }
  
  @keyframes float {
    0%,
    100% {
      transform: translateY(0rem);
    }
    50% {
      transform: translateY(-3rem);
    }
  }

  .home .content h3 {
    font-size: 8.5rem;
    color: #333;
    text-transform: uppercase;
    line-height: 100%;
  }

  .home .content h3 span {
    color: var(--red);
    text-transform: uppercase;
  }

  .home .content p {
    font-size: 2rem;
    color: var(--gray);
    padding: 1rem 0;
  }

  .home .content p span {
    font-style: italic;
    font-weight: bold;
  }

  .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 3rem;
    border-radius: 1rem;
    background: var(--gradient);
    font-size: 1.7rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.2s linear;
  }

  .btn:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 7px rgb(87, 86, 86);
  }

  /* About */
  .about {
    padding-bottom: 3rem;
  }
  .about .column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .about .column .image {
    flex: 1 1 40rem;
  }
  .about .column .image img {
    width: 100%;
  }
  .about .column .content {
    flex: 1 1 40rem;
  }
  .about .column .content p {
    font-size: 2rem;
    color: var(--gray);
    padding: 1rem 0;
    text-align: justify;
  }

  /* Product */
  #product {
    padding-top: 100px;
    text-align: center;
    margin-top: -100px;
  }

  #product .main-text {
    color: var(--gray);
    font-size: 2rem;
  }

  .main-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main {
    margin-top: 50px;
  }

  .box {
    width: 300px;
    height: 300px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.288);
    border-radius: 23px;
    flex-direction: column;
    color: #e04e4e;
    position: relative;
    overflow: hidden;
  }

  .prod {
    color: #ff0000;
    font-size: 2.8rem;
    font-weight: bold;
  }

  .prod1 {
    color: #ff0000;
    font-size: 2.8rem;
    font-weight: bold;
  }

  .arr-container,
  .cancle {
    position: absolute;
    width: 50px;
    height: 50px;
    background: black;
    bottom: 0;
    right: 0;
    border-radius: 23px 0 23px 0;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.4s;
  }

  .arr-container {
    transform: rotate(0deg);
  }

  .active-arr {
    transform: translate(80%, 80%);
  }

  .left-container {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 23px;
    padding: 40px 0 0 20px;
    transition: all 0.4s;
  }

  .left {
    background: #ff0000;
  }

  .left1 {
    background: #ff0000;
  }

  .off {
    transform: translate(-80%, -80%) rotate(90deg);
  }
  .active {
    transform: translate(0) rotate(0);
  }
  .left-container p {
    color: #fff;
    margin-bottom: 15px;
    font-size: 2.5rem;
    text-align: center;
    margin-right: 10px;
  }
  .left-container .icons {
    font-size: 1.6rem;
    margin-top: 10px;
  }
  .left-container .icons .teks {
    margin-top: 15px;
    color: white;
    font-size: 1.2rem;
    line-height: 20px;
    margin-right: 15px;
    transition: all 0.4s;
    text-align: justify;
  }

  /* Service */
  
  /* Slider */
.slider {
    width: 80%;
    height: 550px;
    max-width: 900px;
    background-color: #20c46e;
    border-radius: 50px;
    position: relative;
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.8);
  }
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #20c46e;
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
  }
  .prev:hover,
  .next:hover {
    opacity: 0.8;
  }
  .prev {
    left: -10%;
  }
  .next {
    right: -10%;
  }
  .slides-container {
    width: 100%;
    height: 100%;
  }
  .slide {
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 25px 50px;
    display: none;
  }
  .slide.active {
    display: flex;
  }
  .slide.active .col-left,
  .slide.active .col-right {
    animation: fade-in 0.8s 1;
  }
  .col-left,
  .col-right {
    flex: 1;
  }
  .col-left h2 {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 2rem;
    color: #fff;
    line-height: 100%;
    letter-spacing: 3px;
  }
  .col-left p {
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 100;
    color: #fff;
    line-height: 1.9;
  }
  .col-right {
    text-align: center;
    height: 100%;
  }
  .col-right img {
    margin-top: 130px;
    height: 50%;
    width: 100%;
  }
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
  
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Contact Us */
  .form {
    width: 70%;
    height: 350px;
    max-width: 600px;
    background-color: whitesmoke;
    border-radius: 10px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 200px;
    margin-left: 17vw;
    transform: translateX(-50%);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.8);
  }
  
  .form td label {
    font-size: 14px;
    font-weight: bold;
    color: var(--dark-red);
    font-family: cursive;
    margin-left: 50%;
  }

  .form td input, .form td textarea, .form td a {
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0.5px 0.5px 2px rgba(46, 46, 46, 0.8);
    margin-left: 15%;
  }

  .button {
    display: inline-block;
    margin-top: -20px;
    padding: 7px 15px;
    border-radius: 5px;
    background: var(--gradient);
    font-size: 10px;
    font-family: cursive;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.2s linear;
  }

  .button :hover {
    transform: scale(1.1);
    box-shadow: 0 5px 7px rgb(87, 86, 86);
  }

  .alert {
    margin-left: 15%;
  }

  .alertName {
    font-size: 12px;
    color: var(--gray);
    font-family: cursive;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
  
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Footer */
  footer {
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: var(--red);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  footer .container {
    display: flex;
    align-items: center;
    color: #fff;
    max-width: 1440px;
    margin: 0 auto;
  }
  footer img {
    width: 300px;
    height: 75px;
    margin-left: -15px;
  }
  .col-left {
    color: #fff;
    flex: 1;
    margin-right: 25px;
  }
  .col-left .footer-text {
    color: #fff;
    margin: 15px 0 30px;
    line-height: 25px;
    font-size: 1.8rem;
  }
  .social-media-list {
    display: flex;
  }
  .social-media-list li {
    width: 50px;
    height: 50px;
    border-radius: 25%;
    display: grid;
    place-items: center;
    transition: all 0.3s;
    background-color: #fff;
    cursor: pointer;
  }
  .social-media-list li:not(:last-child) {
    margin-right: 15px;
  }
  .social-media-list li:hover {
    background-color: var(--red);
    border: 4px solid;
  }
  .social-media-list a {
    text-decoration: none;
    color: var(--red);
    font-size: 2rem;
  }
  .social-media-list li:hover a {
    color: #fff;
  }
  .col-right {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  .links-container {
    list-style: none;
  }
  .links-container:not(:last-child) {
    margin-right: 25px;
  }
  .links-container h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
  }
  .links-container li {
    margin-top: 20px;
    font-size: 1.5rem;
  }
  .links-container a {
    color: #fff;
    opacity: 50%;
    text-decoration: none;
    transition: all 0.3s;
  }
  .links-container li:hover a {
    opacity: 100%;
  }
  
  @media (max-width: 1200px) {
    html {
      font-size: 55%;
    }
  }
  
  @media (max-width: 991px) {
    section {
      padding: 0 3%;
      padding-top: 7.5rem;
      padding-bottom: 2rem;
    }

    header {
      position: fixed;
    }

    header .navbar a {
      margin-left: 1.8rem;
    }

    .sidebar {
      display: none;
    }

    .col-left p,
    .links-container a {
      font-size: 15px;
    }

    .col-left p br {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    header label {
      visibility: visible;
      opacity: 1;
    }

    header .navbar {
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
      background: var(--red);
      padding: 1rem 2rem;
      border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      transform-origin: top;
      transform: scaleY(0);
      opacity: 0;
      transition: 0.2s linear;
    }

    header .navbar a {
      display: block;
      margin: 2rem 0;
      font-size: 2rem;
    }

    header input:checked ~ .navbar {
      transform: scaleY(1);
      opacity: 1;
    }

    header input:checked ~ label::before {
      content: "\f00d";
    }

    .home {
      flex-flow: column-reverse;
    }

    .home .image img {
      width: 100%;
    }

    .home .content h3 {
      font-size: 4rem;
      margin-top: 80px;
    }

    .home .content p {
      font-size: 1.5rem;
    }

    .slide {
      flex-flow: column-reverse;
    }

    .prev,
    .next {
      height: 30px;
      width: 30px;
    }

    .prev {
      left: -15%;
    }

    .next {
      right: -15%;
    }

    .col-left h2 {
      font-size: 2rem;
    }

    .col-left p {
      font-size: 1.5rem;
    }

    .form td input, .form td textarea{
        width: 60%;
    }

    footer .container {
      flex-direction: column;
      font-size: 10px;
    }
  
    .col-left {
      text-align: center;
      margin-right: 0;
    }
  
    .social-media-list {
      margin: 0 auto;
      justify-content: center;
    }
  
    .col-right {
      width: 100%;
      margin: 50px 0 0;
      text-align: center;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
    
    .col-right {
      flex-direction: column;
    }
  
    .links-container:not(:last-child) {
      margin: 0 0 50px 0;
    } 
  }

  /* home.html */
  /* Tentang */
  .tentang {
    text-align: justify;
  }

  .tentang h2 {
    margin-top: 10vh;
    font-size: 4rem;
    color: var(--dark-red);
    text-transform: uppercase;
    line-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .tentang h3 {
    margin-top: 10vh;
    font-size: 4rem;
    color: var(--dark-red);
    text-transform: uppercase;
    line-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .tentang p {
    font-size: 1.5rem;
    color: var(--gray);
    padding: 1rem 0;
  }

  .tentang p span {
    font-weight: bold;
    font-style: italic;
  }

  /* Purpose */
  .purpose {
    text-align: justify;
  }

  .purpose h3 {
    margin-top: 10vh;
    font-size: 2rem;
    color: var(--dark-red);
    text-transform: uppercase;
    line-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .purpose h4 {
    font-size: 1.5rem;
    color: var(--dark-red);
    text-transform: uppercase;
    line-height: 100%;
  }

  .purpose p {
    font-size: 1.5rem;
    color: var(--gray);
    padding: 1rem 0;
  }

  .purpose p span {
    font-weight: bold;
    font-style: italic;
  }

   /* Core Values */
  .values {
    text-align: justify;
  }

  .values h3 {
    margin-top: 10vh;
    font-size: 2rem;
    color: var(--gray);
    text-transform: uppercase;
    line-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .values h4 {
    margin-top: 2vh;
    font-size: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--dark-red);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 100%;
  }

  .values h5 {
    margin-top: 2vh;
    font-size: 1.5rem;
    color: var(--gray);
    text-transform: uppercase;
    line-height: 100%;
  }

  .values p {
    font-size: 1.5rem;
    color: var(--gray);
    padding: 1rem 0;
  }

  /* Riwayat */
  .riwayat {
    text-align: justify;
  }

  .riwayat h3 {
    margin-top: 10vh;
    font-size: 2rem;
    color: var(--dark-red);
    text-transform: uppercase;
    line-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .riwayat h4 {
    margin-top: 2vh;
    font-size: 3rem;
    color: var(--dark-red);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 100%;
  }

  .riwayat h5 {
    margin-top: 2vh;
    font-size: 1.5rem;
    color: var(--gray);
    text-transform: uppercase;
    line-height: 100%;
  }

  .riwayat p {
    font-size: 1.5rem;
    color: var(--gray);
    padding: 1rem 0;
  }